<div>
  <div
    class="js-modal show e2gvfmo0 css-z72nah-ModalWrapper e1h9sv5s0"
    role="dialog"
    aria-modal="true"
    data-automation="cart-error-dialog"
    style=""
  >
    <div
      class="modal-scroll-container css-18la60u-ModalScrollContainer e1h9sv5s4"
    >
      <div class="css-7130jo-ModalInnerTable e1h9sv5s1">
        <div class="css-1jl2d6t-ModalInnerCell e1h9sv5s2">
          <div
            class="modal-container css-pn08pu-ModalContentContainer e1h9sv5s3"
          >
            <button
              type="button"
              class="modal-close-btn css-1at3lj9 e1jdve9b0"
            ></button>
            <div
              data-automation="error-message-container"
              class="css-1uemeav e1n1kzst0"
            >
              <h2 class="css-1fi16a1 e1n1kzst1">Erreur</h2>
              <p class="css-1qm1lh e12opqvy0">
                Un problème est survenu lors de ta demande. Si tu rencontres
                toujours des problèmes, essaie de rafraîchir la page.
              </p>
              <p class="css-1qm1lh e12opqvy0">
                <span class="css-100tal0 e1n1kzst2">[ Code: A672C98B ]</span>
              </p>
              <div class="css-xi606m e1n1kzst4">
                <button
                  data-version="@nike/shop-components@1.182.1"
                  class="css-s3epfj-PrimaryDarkButton-buttonPaddingBorderRadiusStyles-disabledButtonStyles-primaryDisabledStyles-primaryDarkButtonStyles e9cn8z80"
                  type="button"
                  data-automation-id="error-close"
                >
                  OK
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
