<div class="prl5-sm pt5-sm">
  <div>
    <h3 class="mb6-sm css-5oevkg">Modes de paiement enregistrés</h3>
    <div
      class="ncss-form-group group-up mt1-sm mb4-sm"
      style="border-color: transparent"
    >
      <div>
        <div class="mb4-sm css-1gal9nq">
          <div class="css-11icutz">
            <div class="pt4-sm pb4-sm css-1ug5yhf">
              <div class="nds-radio css-olhbvw e1d37qfi0">
                <input
                  type="radio"
                  name="paymentMethod"
                  class=""
                  id="0766bb26-d6a6-4aff-82b3-5d524b6ff63b"
                  value=""
                  checked=""
                /><label for="0766bb26-d6a6-4aff-82b3-5d524b6ff63b"
                  ><span class="d-sm-ib u-max-width css-1n8n4qa"
                    >&nbsp;&nbsp;Visa&nbsp;(8631)</span
                  ></label
                >
              </div>
              <div class="pl4-sm pt4-sm pr4-sm css-9aslqy">
                <button
                  aria-label="Supprimer la carte dont le numéro se termine par :  8631"
                  class="nds-btn css-18a0ude ex41m6f0 cta-primary-dark underline"
                  type="button"
                >
                  Supprimer<span class="ripple"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="nds-btn mb9-sm css-1tkhh7o ex41m6f0 btn-secondary-dark"
      type="button"
      id="newCard"
      name="newCard"
      value="newCard"
    >
      Ajouter une nouvelle carte<span class="ripple"></span>
    </button>
  </div>
</div>
