.StripeElementBase {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 4px;
}

.StripeElementFocus {
  box-shadow: 0 0 0 2px #3182ce;
}

// .StripeElementInvalid {
//   border-color: #fa755a;
// }

// .stripe {
//   button {
//     margin-top: 1rem;
//     height: 45px;
//     width: 100%;
//     background: #000;
//     cursor: pointer;
//     border: 1px solid transparent;
//     color: #fff;
//     font-weight: 600;
//     transition: all 0.2s;
//     &:hover {
//       background: transparent;
//       border-color: #222;
//       color: #000;
//     }
//   }
//   .error {
//     padding: 0;
//   }
// }
