<div class="">
  <div class="ncss-row">
    <div class="ncss-col-sm-12 prl5-sm pt3-sm pb3-sm">
      <div class="ncss-container" data-attr="paymentPreviewContainer">
        <section class="mb4-sm">
          <h3 class="pb3-sm css-1qpib4x">Mode de paiement</h3>
          <div class="mt2-sm u-max-width" data-attr="visa-icn">
            <span role="img" aria-label="visa" class="css-10s94pm"></span
            ><span class="ml2-sm mr2-sm">8631</span
            ><span>Exp: &nbsp;12/2025</span>
          </div>
        </section>

        <section>
          <div>
            <h3 class="css-1qpib4x">Informations de facturation</h3>
            <div class="css-7ym3jb">
              <p data-attr="address-preview-fullName">
                Lionelle Berlone BASSOLA MOUKOURI
              </p>
              <p>
                <span data-attr="address-preview-address1">98 Rue Heron</span>
              </p>
              <div class="ncss-row">
                <div class="ncss-col-sm-12">
                  <p data-attr="address-preview-city">Bordeaux, 33000, FR</p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="d-sm-h">
    <div class="d-sm-h">
      <div class="ncss-container ta-sm-c u-full-height">
        <div
          class="ncss-row u-full-height u-full-width d-sm-t ta-sm-c pt6-sm pb6-sm pt12-lg pb12-lg"
        >
          <div class="ncss-col-sm-12 d-sm-tc va-sm-m">
            <div class="" style="height: 32px; margin: 0px auto; width: 32px">
              <svg
                width="32"
                height="32"
                viewBox="0 0 80 80"
                preserveAspectRatio="xMidYMid"
              >
                <rect x="0" y="0" width="80" height="80" fill="none"></rect>
                <circle
                  cx="40"
                  cy="40"
                  r="32"
                  stroke-dasharray="160 40"
                  stroke="#000"
                  fill="none"
                  stroke-width="5"
                >
                  <animateTransform
                    attributeName="transform"
                    type="rotate"
                    values="0 40 40;180 40 40;360 40 40;"
                    keyTimes="0;0.5;1"
                    dur="1500ms"
                    repeatCount="indefinite"
                    begin="0s"
                  ></animateTransform>
                </circle>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section id="klarna-container" class="p5-sm"></section>
  </div>
</div>
