<div className="p5-sm pb1-sm mb7-sm ml5-sm mr5-sm css-xzeelg">
  <div className="ncss-row mb4-sm">
    <div className="ncss-col-sm-6 va-sm-b">
      <h3 className="css-5oevkg">Ajouter une carte</h3>
    </div>
  </div>
  <div className="ncss-row pt2-sm" data-attr="paymentFrameContainer">
    <iframe
      sandbox="allow-scripts allow-same-origin"
      className="mt1 u-full-width prl2-sm css-oia1h1"
      data-attr="credit-card-iframe"
      src="https://paymentcc.nike.com/services/default?id=5338959a-0b47-4f92-a4bb-923230645583&amp;ctx=checkout&amp;language=fr&amp;maskerEnabled=true"
      referrerpolicy="no-referrer-when-downgrade"
      frameborder="0"
      scrolling="no"
      title="Formulaire de carte de crédit"
    ></iframe>
  </div>
  <div className="ncss-row">
    <div className="ncss-col-sm-12 ncss-col-md-6 ta-sm-l mb2-sm">
      <div className="d-md-h mb4-sm">
        <span id="cvv_newCardWrapper" className="css-0"
          ><button className="d-sm-ib css-9a7n2d" id="cvv_newCard">
            <span className="u-cursor-pointer css-1wc8wxj"
              >Where is my CVV?</span
            >
            <div
              className="p4-sm z2 css-17f46hh"
              data-attr="test-message-ccv"
              hidden=""
            >
              <div className="ncss-container pl4-md">
                <div className="css-13w9ksj">
                  Trouver le cryptogramme visuel
                </div>
                <div className="ncss-col-sm-12 ncss-col-md-6 pl0-md">
                  <div className="pt4-md css-1s85rp3">
                    Mastercard/Visa/Discover
                  </div>
                  <p className="css-0">
                    Code de sécurité à 3 chiffres<span
                      style="
                        box-sizing: border-box;
                        display: inline-block;
                        overflow: hidden;
                        width: initial;
                        height: initial;
                        background: none;
                        opacity: 1;
                        border: 0px;
                        margin: 0px;
                        padding: 0px;
                        position: relative;
                        max-width: 100%;
                      "
                      ><span
                        style="
                          box-sizing: border-box;
                          display: block;
                          width: initial;
                          height: initial;
                          background: none;
                          opacity: 1;
                          border: 0px;
                          margin: 0px;
                          padding: 0px;
                          max-width: 100%;
                        "
                        ><img
                          alt=""
                          aria-hidden="true"
                          src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27200%27%20height=%27125%27/%3e"
                          style="
                            display: block;
                            max-width: 100%;
                            width: initial;
                            height: initial;
                            background: none;
                            opacity: 1;
                            border: 0px;
                            margin: 0px;
                            padding: 0px;
                          " /></span
                      ><img
                        alt="Carte Visa"
                        src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                        decoding="async"
                        data-nimg="intrinsic"
                        className="pt4-md"
                        style="
                          position: absolute;
                          inset: 0px;
                          box-sizing: border-box;
                          padding: 0px;
                          border: none;
                          margin: auto;
                          display: block;
                          width: 0px;
                          height: 0px;
                          min-width: 100%;
                          max-width: 100%;
                          min-height: 100%;
                          max-height: 100%;
                        " /><noscript></noscript
                    ></span>
                  </p>
                </div>
                <div className="ncss-col-sm-12 ncss-col-md-6 pr0-md">
                  <div className="pt4-md css-1s85rp3">AMEX</div>
                  <p className="css-0">
                    Code de sécurité à 4 chiffres<span
                      style="
                        box-sizing: border-box;
                        display: inline-block;
                        overflow: hidden;
                        width: initial;
                        height: initial;
                        background: none;
                        opacity: 1;
                        border: 0px;
                        margin: 0px;
                        padding: 0px;
                        position: relative;
                        max-width: 100%;
                      "
                      ><span
                        style="
                          box-sizing: border-box;
                          display: block;
                          width: initial;
                          height: initial;
                          background: none;
                          opacity: 1;
                          border: 0px;
                          margin: 0px;
                          padding: 0px;
                          max-width: 100%;
                        "
                        ><img
                          alt=""
                          aria-hidden="true"
                          src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27200%27%20height=%27125%27/%3e"
                          style="
                            display: block;
                            max-width: 100%;
                            width: initial;
                            height: initial;
                            background: none;
                            opacity: 1;
                            border: 0px;
                            margin: 0px;
                            padding: 0px;
                          " /></span
                      ><img
                        alt="Carte Amex"
                        src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                        decoding="async"
                        data-nimg="intrinsic"
                        className="pt4-md"
                        style="
                          position: absolute;
                          inset: 0px;
                          box-sizing: border-box;
                          padding: 0px;
                          border: none;
                          margin: auto;
                          display: block;
                          width: 0px;
                          height: 0px;
                          min-width: 100%;
                          max-width: 100%;
                          min-height: 100%;
                          max-height: 100%;
                        " /><noscript></noscript
                    ></span>
                  </p>
                </div>
              </div>
            </div></button
        ></span>
      </div>
      <div className="uikit-checkbox-toggler">
        <div
          className="ml0-sm css-5cdvu7 eokc0d80 nds-checkbox-container light"
        >
          <input
            type="checkbox"
            className="nds-checkbox"
            name="saveCreditCardData"
            id="saveCreditCardData"
            aria-describedby="a11y-label-details-saveCreditCardData"
            value=""
          />
          <div className="nds-checkbox-icon">
            <span aria-hidden="true" className="checkbox-box circle"></span
            ><span aria-hidden="true" className="checkbox-box"></span
            ><span aria-hidden="true" className="checkbox-box-icon-container"
              ><svg
                aria-hidden="true"
                focusable="false"
                viewBox="0 0 24 24"
                role="img"
                width="24px"
                height="24px"
              >
                <g
                  stroke="none"
                  stroke-width="1"
                  fill="none"
                  fill-rule="evenodd"
                >
                  <g transform="translate(2.000000, 2.000000)">
                    <rect x="0" y="0" width="20" height="20" rx="10"></rect>
                    <rect
                      className="checkicon-fill"
                      x="0"
                      y="0"
                      width="20"
                      height="20"
                      rx="5"
                    ></rect>
                    <path
                      className="checkicon-check"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M6.00134645 9.81868355 9.12119517 13.003429 14.9964286 7"
                    ></path>
                  </g>
                </g></svg
            ></span>
          </div>
          <label for="saveCreditCardData" className="nds-checkbox-label"
            >Enregistrer la carte de crédit pour les achats ultérieurs</label
          >
        </div>
        <div className=""></div>
      </div>
    </div>
    <div className="d-sm-h d-md-ib ta-md-r ncss-col-md-6 css-1erhvk4">
      <span id="cvv_newCardWrapper" className="css-0"
        ><button className="d-sm-ib css-9a7n2d" id="cvv_newCard">
          <span className="u-cursor-pointer css-1wc8wxj">Where is my CVV?</span>
          <div
            className="p4-sm z2 css-17f46hh"
            data-attr="test-message-ccv"
            hidden=""
          >
            <div className="ncss-container pl4-md">
              <div className="css-13w9ksj">Trouver le cryptogramme visuel</div>
              <div className="ncss-col-sm-12 ncss-col-md-6 pl0-md">
                <div className="pt4-md css-1s85rp3">
                  Mastercard/Visa/Discover
                </div>
                <p className="css-0">
                  Code de sécurité à 3 chiffres<span
                    style="
                      box-sizing: border-box;
                      display: inline-block;
                      overflow: hidden;
                      width: initial;
                      height: initial;
                      background: none;
                      opacity: 1;
                      border: 0px;
                      margin: 0px;
                      padding: 0px;
                      position: relative;
                      max-width: 100%;
                    "
                    ><span
                      style="
                        box-sizing: border-box;
                        display: block;
                        width: initial;
                        height: initial;
                        background: none;
                        opacity: 1;
                        border: 0px;
                        margin: 0px;
                        padding: 0px;
                        max-width: 100%;
                      "
                      ><img
                        alt=""
                        aria-hidden="true"
                        src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27200%27%20height=%27125%27/%3e"
                        style="
                          display: block;
                          max-width: 100%;
                          width: initial;
                          height: initial;
                          background: none;
                          opacity: 1;
                          border: 0px;
                          margin: 0px;
                          padding: 0px;
                        " /></span
                    ><img
                      alt="Carte Visa"
                      src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                      decoding="async"
                      data-nimg="intrinsic"
                      className="pt4-md"
                      style="
                        position: absolute;
                        inset: 0px;
                        box-sizing: border-box;
                        padding: 0px;
                        border: none;
                        margin: auto;
                        display: block;
                        width: 0px;
                        height: 0px;
                        min-width: 100%;
                        max-width: 100%;
                        min-height: 100%;
                        max-height: 100%;
                      " /><noscript></noscript
                  ></span>
                </p>
              </div>
              <div className="ncss-col-sm-12 ncss-col-md-6 pr0-md">
                <div className="pt4-md css-1s85rp3">AMEX</div>
                <p className="css-0">
                  Code de sécurité à 4 chiffres<span
                    style="
                      box-sizing: border-box;
                      display: inline-block;
                      overflow: hidden;
                      width: initial;
                      height: initial;
                      background: none;
                      opacity: 1;
                      border: 0px;
                      margin: 0px;
                      padding: 0px;
                      position: relative;
                      max-width: 100%;
                    "
                    ><span
                      style="
                        box-sizing: border-box;
                        display: block;
                        width: initial;
                        height: initial;
                        background: none;
                        opacity: 1;
                        border: 0px;
                        margin: 0px;
                        padding: 0px;
                        max-width: 100%;
                      "
                      ><img
                        alt=""
                        aria-hidden="true"
                        src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27200%27%20height=%27125%27/%3e"
                        style="
                          display: block;
                          max-width: 100%;
                          width: initial;
                          height: initial;
                          background: none;
                          opacity: 1;
                          border: 0px;
                          margin: 0px;
                          padding: 0px;
                        " /></span
                    ><img
                      alt="Carte Amex"
                      src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                      decoding="async"
                      data-nimg="intrinsic"
                      className="pt4-md"
                      style="
                        position: absolute;
                        inset: 0px;
                        box-sizing: border-box;
                        padding: 0px;
                        border: none;
                        margin: auto;
                        display: block;
                        width: 0px;
                        height: 0px;
                        min-width: 100%;
                        max-width: 100%;
                        min-height: 100%;
                        max-height: 100%;
                      " /><noscript></noscript
                  ></span>
                </p>
              </div>
            </div>
          </div></button
      ></span>
    </div>
  </div>
</div>
