@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .absolute-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
  .absolute-flex-center {
    @apply absolute inset-0 w-full flex justify-center items-center;
  }
  .top-left {
    @apply absolute top-12 left-12;
  }
  .bottom-left {
    @apply absolute bottom-12 left-12;
  }
  .top-right {
    @apply absolute top-12  right-12;
  }
  .bottom-right {
    @apply absolute bottom-12 right-12;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .link-icon-hover {
    @apply rounded-full p-[6px] hover:bg-gray-200 mr-3;
  }
  .focus {
    @apply focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2;
  }
}

/* Container using CSS Grid */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 16px; /* Adjust the gap between cards as needed */
}

/* Card styling */
.card {
  background-color: #fff;
  border: 1px solid #ddd;
}

.card h2 {
  margin-top: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
