<section class="mb5-sm" id="orderreview">
  <span class="css-1qgj8yk"
    >Récapitulatif de la commande Étape 3 sur 3 Étape en cours</span
  >
  <header class="pt3-sm pb7-sm prl5-sm css-1nytozf">
    <h2 class="css-xkwihi">Récapitulatif de la commande</h2>
  </header>
  <div>
    <div class="ncss-container">
      <div class="d-sm-h">
        <div class="ncss-col-sm-12 pb12-sm">
          <div class="ncss-container ta-sm-c u-full-height">
            <div
              class="ncss-row u-full-height u-full-width d-sm-t ta-sm-c pt6-sm pb6-sm pt12-lg pb12-lg"
            >
              <div class="ncss-col-sm-12 d-sm-tc va-sm-m">
                <div
                  class=""
                  style="height: 32px; margin: 0px auto; width: 32px"
                >
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 80 80"
                    preserveAspectRatio="xMidYMid"
                  >
                    <rect x="0" y="0" width="80" height="80" fill="none"></rect>
                    <circle
                      cx="40"
                      cy="40"
                      r="32"
                      stroke-dasharray="160 40"
                      stroke="#000"
                      fill="none"
                      stroke-width="5"
                    >
                      <animateTransform
                        attributeName="transform"
                        type="rotate"
                        values="0 40 40;180 40 40;360 40 40;"
                        keyTimes="0;0.5;1"
                        dur="1500ms"
                        repeatCount="indefinite"
                        begin="0s"
                      ></animateTransform>
                    </circle>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ncss-row">
        <div class="ncss-col-sm-12 pt5-sm pt0-sm prl5-sm">
          <div class="d-lg-h pb5-sm">
            <div class="mr2-lg ml2-lg pt6-lg" data-attr="cart-details">
              <div>
                <header>
                  <h3 class="css-5oevkg">
                    Livraison d'ici le&nbsp;mar. 20 août
                  </h3>
                </header>
                <div class="d-sm-t bs5">
                  <figure
                    class="d-sm-tr pb5-sm css-u420t4"
                    data-attr="cloud-cart-item"
                  >
                    <div class="d-sm-tc va-sm-t">
                      <img
                        alt="Chaussure Nike Air Force&nbsp;1&nbsp;'07 pour homme"
                        data-attr="cloud-cart-image"
                        src="https://images.nike.com/is/image/DotCom/CW2288_001_A_PREM?wid=80&amp;hei=80&amp;align=0,1&amp;cropN=0,0,0,0&amp;fmt=png-alpha&amp;resMode=sharp&amp;defaultImage=DotCom/SEARCH_002"
                        width="60"
                        class="css-16i8mcp"
                      />
                    </div>
                    <figcaption class="d-sm-tc va-sm-t pl5-sm">
                      <div class="css-1qpib4x">
                        Chaussure Nike Air Force&nbsp;1&nbsp;'07 pour homme
                      </div>
                      <div>Réf. article : CW2288-001</div>
                      <div><span data-attr="itemSize">Taille : 43</span></div>
                      <div class="css-ydw93h">Couleur : Noir/Noir</div>
                      <div>Quantité : 1 @ 119,99&nbsp;€</div>
                      <div data-attr="checkout-cart-item-price">
                        119,99&nbsp;€
                      </div>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
            <div class="ncss-row" data-attr="summaryComponent">
              <div class="ncss-col-sm-12 p5-lg mb1-sm css-1qpib4x">
                <div class="ncss-row">
                  <div class="ncss-col-sm-8 va-sm-t">
                    <div class="d-sm-ib">
                      <span data-attr="subtotalText">Sous-total</span
                      ><span id="subtotalTooltipWrapper" class="css-178g4y"
                        ><button
                          class="d-sm-ib css-9a7n2d"
                          id="subtotalTooltip"
                          aria-label="Détails du sous-total"
                        >
                          <div class="css-1ou3w6b">
                            <svg
                              aria-hidden="true"
                              focusable="false"
                              viewBox="0 0 24 24"
                              role="img"
                              width="24px"
                              height="24px"
                              fill="none"
                            >
                              <path
                                fill="currentColor"
                                fill-rule="evenodd"
                                d="M12 20a8 8 0 100-16 8 8 0 000 16zm.75-4.5V17h-1.5v-1.5h1.5zM10.5 10c0-.918.831-1.644 1.764-1.472h.006c.6.106 1.096.603 1.201 1.202v.001a1.502 1.502 0 01-.82 1.63 2.411 2.411 0 00-1.401 2.189V14h1.5v-.45a.91.91 0 01.532-.828l.01-.005a3.002 3.002 0 001.657-3.248 3.008 3.008 0 00-2.416-2.417C10.647 6.706 9 8.179 9 10h1.5z"
                                clip-rule="evenodd"
                              ></path>
                            </svg>
                          </div>
                          <div
                            class="p4-sm z2 css-17f46hh"
                            data-attr="test-message"
                            hidden=""
                          >
                            <p class="">
                              Le sous-total correspond au prix total de la
                              commande, TVA incluse, avant l'application de
                              réductions. Il n'inclut pas les frais
                              d'expédition.
                            </p>
                          </div>
                        </button></span
                      >
                    </div>
                  </div>
                  <div class="ncss-col-sm-4 va-sm-t ta-sm-r">
                    <div data-attr="subtotal">119,99&nbsp;€</div>
                  </div>
                </div>
                <div class="ncss-row">
                  <div class="ncss-col-sm-9 va-sm-t">
                    <div data-attr="shippingText">
                      Frais d'expédition estimés
                    </div>
                  </div>
                  <div class="ncss-col-sm-3 va-sm-t ta-sm-r">
                    <div data-attr="shippingTotal">0,00&nbsp;€</div>
                  </div>
                </div>
                <div class="ncss-row mt2-sm">
                  <div class="ncss-col-sm-8 va-sm-t">
                    <div data-attr="totalText" class="css-5oevkg">
                      <span>Total </span>
                    </div>
                  </div>
                  <div class="ncss-col-sm-4 va-sm-t ta-sm-r">
                    <div data-attr="cart-total" class="css-5oevkg">
                      119,99&nbsp;€
                    </div>
                  </div>
                </div>
                <div data-attr="taxIncluded" class="css-3b9nbj"></div>
              </div>
            </div>
          </div>
          <section class="css-1b23r9m">
            <div class=""></div>
            <div>
              <p data-attr="legal-links-copy" class="css-vvcwww">
                <span
                  ><span
                    >En cliquant sur le bouton «&nbsp;Soumettre le
                    paiement&nbsp;», tu confirmes avoir lu, compris et accepté
                    nos </span
                  ><a
                    href="http://agreementservice.svs.nike.com/rest/agreement?agreementType=termsOfUse&amp;uxId=com.nike.commerce.checkout.web&amp;country=fr&amp;language=fr&amp;requestType=redirect"
                    class="css-1wc8wxj"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Conditions d'utilisation</a
                  ><span>, </span
                  ><a
                    href="http://agreementservice.svs.nike.com/rest/agreement?agreementType=termsOfSale&amp;uxId=com.nike.commerce.checkout.web&amp;country=fr&amp;language=fr&amp;requestType=redirect"
                    class="css-1wc8wxj"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Conditions de vente</a
                  ><span> et </span
                  ><a
                    href="https://www.nike.com/fr/help/a/conditions-de-retour-ue"
                    class="css-1wc8wxj"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Politique de retour</a
                  ><span>, et avoir lu la </span
                  ><a
                    href="http://agreementservice.svs.nike.com/rest/agreement?agreementType=privacyPolicy&amp;uxId=com.nike.commerce.checkout.web&amp;country=fr&amp;language=fr&amp;requestType=redirect"
                    class="css-1wc8wxj"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Politique de confidentialité</a
                  ><span> de Nike.</span></span
                >
              </p>
            </div>
          </section>
          <section class="ncss-row d-sm-h d-lg-b">
            <div
              class="ncss-col-sm-12 pt8-sm pb8-sm va-sm-t ta-sm-r css-k8kbo5"
              data-attr="test-desktop-button"
            >
              <button
                class="nds-btn css-b4ij8a ex41m6f0 btn-primary-dark btn-md"
                type="button"
              >
                Soumettre le paiement<span class="ripple"></span>
              </button>
            </div>
          </section>
        </div>
      </div>
      <section id="place-order" class="d-lg-h z3 css-1b23r9m">
        <div
          class="ncss-col-sm-12 pt6-sm pb6-sm prl2-sm css-k8kbo5"
          data-attr="test-mobile-button"
        >
          <button
            class="nds-btn css-b4ij8a ex41m6f0 btn-primary-dark btn-md"
            type="button"
          >
            Soumettre le paiement<span class="ripple"></span>
          </button>
        </div>
      </section>
    </div>
  </div>
  <div class="mr5-sm ml5-sm css-10uhelw"></div>
</section>
